/.claude/settings.local.json
/.godot/
/.idea/
/.McpServer/bin/
/.McpServer/obj/
/.McpServer/.idea/
/.local.settings
/.logs/
/.release/
/.export/
/.archive/
/.testreports/
/.vs/
/.vscode/settings.json
/save.dat
/.release.7z
/.engine/
**/__pycache__/
# 白盒测试员动态编写，全部不入库
/tests/white_tests/
