/.claude/settings.local.json
/.godot/
/.idea/
/.McpServer/bin/
/.McpServer/obj/
/.McpServer/.idea/
/.local.settings
/.logs/
/.release/
/.export/
/.archive/
/.testreports/
/.vs/
/.vscode/settings.json
/save.dat
/.release.7z
